<h2>/slider route</h2>
{{!-- Uncomment to test that the images are here
{{#each this.model as |imageInfo|}}
  <img class="slider-crop" src={{imageInfo.src}} alt={{imageInfo.alt}}>
{{/each}}
--}}

<Slider @images={{this.model}} />

{{!liquid-outlet}}